body {
    background: #629cc2;    
}
#imagen {
    float: left;   
}
.box {
    border: 1px solid #f60;    
}
p {
    color: #fff;
    float: left;
    font-size: 50px;
    margin: 10px 10px 10px 100px;
}